body{
    overflow: hidden;
}
*{
    box-sizing: border-box;
    font-family: cursive;
}
header{
    display: flex;
    width: 95%;
    margin: auto;
    border-radius: 20px;
    justify-content: space-between;
    font-size: larger;
}
.logo-container, .links{
    display: flex;
}
.logo-container{
    margin: 1%;
    flex: 1;
    align-items: center;
    }
.links{
    justify-content: space-around;
    flex: 2;
    align-items: center;
}
.cart{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.main{
    width: 95%;
    margin: auto;
    margin-top: 1%;
    display: flex;
    align-items: center;
    font-size: larger;
}
.des{
    flex: 1;
    margin: 1%;
}
.lapimg{
    filter: drop-shadow(7px 7px 7px black);
    animation: drop 1.5s ease;
    flex: 1;
    scale: 0.75;
}
.des h3{
    line-height: 0%;
}
.buy, .add{
    aspect-ratio: 5 /1;
    width: 40%;
    border-radius: 10px;
    border-color: #f95959;
    color: #f95959;
    background-color: white;
    margin-top: 3%;
    font-size: 1.1em;
}
.buy{
    position: relative;
    left: 3%;
}
.buy:hover, .add:hover{
    animation: hovering 100ms linear forwards;
    cursor: pointer;
}
@keyframes hovering {
    0%{
        background-color: white;
        color: #f95959;
    }
    100%{
        background-color: #f95959;
        color: white;
        box-shadow: 3px 3px 8px black;
    }
}
.buy:active, .add:active{
    height: 8.1vh;
    width: 12.1vw;
    background-color: #f95959;
    color: white;
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
}
.circle{
    height: 120vh;
    width: 120vh;
    border-radius: 50%;
    background-color:rgba(146, 142, 133, 0.6);
    position: relative;
    transform: translate(60vw,-130vh);
    z-index: -1;
}
.circle2{
    height: 80vh;
    width: 80vh;
    border-radius: 50%;
    background-color:rgba(146, 142, 133, 0.4);
    position: relative;
    transform: translate(35vw,-150vh);
    z-index: -2;
}
@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media screen and (max-width: 1024px){
    .main{
        flex-direction: column;
    }
    .des{
        margin-top: 5%;
        text-align: center;
    }
}